.full {
  background-color: aqua;
  background-image: url("/home/v2stech/Documents/React Training/project-food_delivery/public/img/boy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 98%;
  margin-left: 15px;
}

.cart {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.Main {
  display: -webkit-inline-flex;
  justify-content: space-evenly;
  justify-self: end;
}

.MenuCard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.cardimg {
  width: 40%;
  height: 150px;
  border: 4px solid black;
  border-radius: 20px;
  object-fit: cover;
}

.SideBar {
  background-size: 400px 500px;
  display: inline-flex;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 50px;
  padding: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: "Great Vibes", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
}

.ApplyButton {
  margin-top: 50px;
}

.Order-Button {
  margin-top: 50px;
}

.Emptymenu {
  margin-left: 450px;
  text-align: center;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3rem;
}

.ordercard {
  width: 830px;
  height: 160px;
  padding: 10px;
  object-fit: cover;
}

.hotloc {
  flex-direction: column;
  margin-left: 20px;
  font-size: 2rem;
  text-transform: capitalize;

  justify-content: space-evenly;
  font-family: "Great Vibes", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
}

.Dish {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 20px;
  text-transform: capitalize;
  flex-direction: row;
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  font-family: "Great Vibes", cursive;
  font-family: "Pacifico", cursive;
  font-family: "Playfair Display", serif;
}
.qtypri {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  text-transform: uppercase;
  flex-direction: row;
  font-size: 2.5rem;
  justify-content: space-around;
}
.Qty {
  background-color: bisque;
  border-radius: 40px;
  border: 2px solid black;
  padding-left: 8px;
  padding-right: 8px;
}
