/* MenuCard.css */

.container {
  border: 1px solid red;
}

.emptycart {
  text-align: center;
  margin-top: 20px;
}

.order-card {
  margin: 10px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.order-content {
  display: flex;
  justify-content: space-between;
}

.dish {
  display: flex;
  align-items: center;
}

.quantity-price {
  display: flex;
  align-items: center;
}

.add,
.remove {
  margin: 0 5px;
}

.dish-price {
  margin-left: 10px;
}

.order-summary {
  border: 1px solid red;
}

.order-summary h4 {
  border-bottom: 1px solid black;
}

.subtotal,
.gst {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.coupon {
  margin-top: 10px;
}

.order-button {
  margin-top: 20px;
}
