.MenuCard {
  display: flex;
  justify-items: flex-end;
  flex-direction: column;




}

.Main{
  /* flex-direction: column; */
  display: inline-flex;
  justify-items: flex-end;
    justify-content: center;

}


.cart {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.emptycart {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: red;
  width: 75%;
  


}
.cart-img {
  width: 100%;
  height: 100px;

  /* border: 2px solid black;
  border-radius: 5px; */
}
.Coupon{
  margin-bottom: 20px;
}
.SideBar {
  /* background-image: url("/home/v2stech/Documents/React Training/project-food_delivery/public/img/cardback.jpg"); */
  background-repeat: no-repeat;
  /* background-size: 350px 450px   ; */
  display: flex;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  padding: 25px;
  display: inline-flex;
  justify-items: flex-end;
  

  
  background-position: center;
  text-align: center;
  /* padding:20px; */
  font-size: 1.6rem;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  margin-bottom: 20px;

}
.ApplyButton{
margin-top: 50px


}

.Order-Button{
margin-top: 50px
}

.Emptymenu{
  margin-left: 450px;
  text-align: center;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3rem;
}

.ordercard{
  display: inline-flex;
  justify-content: space-between;
 
  height: 150px;
  padding: 20px;
  margin: 30px;
  margin-left: 20px;

}

