.About {
  background-image: url("/home/v2stech/Documents/React Training/project-food_delivery/public/img/boy2.jpeg");
  background-size: cover;

  width: 95%;
  height: 150vh;
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-left: 10px;
  font-size: 40px;
  color: black;
  border: 3px solid black;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.main {
  background-color: rgba(206, 195, 195, 0.8);
  color: rgb(2, 2, 2);
  margin-top: 10px;
  padding-top: 15px;
}

.Contact {
  width: 700px;
  background-color: rgba(206, 195, 195, 0.8);
  padding: 20px;
  color: white;
}
