.head{
    top: 0;
    min-height: 88px;
    width: 98%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border: 3px solid black;

    margin-top: 30px;
    font-weight: bold;
    background-image: url("/home/v2stech/Documents/React Training/project-food_delivery/public/img/back.png");
    height: 200px;

    
}

.Menu{
    margin-top: 15px;
}
.MenuIcon{
    display: flex;
    justify-content: space-between;
}
.search-bar{
    margin-left: 10px;
    padding: 10px;
}


h1{
    text-align: center;
    margin-top: 9%;
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
}

.MenuIcon{
    margin-left: 20px;

}
.header{
    position: sticky;
    top: 0;
    min-height: 80px;
    width: 98%;
    margin: 0 auto;
    display: flex;
    background-color: rgb(131, 130, 130);
    color: bisque;
    border: 3px solid black;
    justify-content: space-between;
    align-items: center;

}

.header-link{
    display: flex;

}
.header-link ul li{
    list-style: none;
    display: inline-block;
    font-size: large;
}
.header-link ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(3, 3, 3);
    padding: 0px 15px;
}


.header-link ul li Link Badge{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(3, 3, 3);
    padding: 0px 15px;

}
