.Body {
  background-image: url("/home/v2stech/Documents/React Training/project-food_delivery/public/img/back.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 5px solid black;
  border-radius: 25px;
}
.loginMain {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  font-family: "Great Vibes", cursive;
  display: flex;
  align-items: center;
}
h3 {
  font-family: "Great Vibes", cursive;
}
.Inputs {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
}
